*{
  padding: 0;
  margin: 0

}

.Header{
  background-color: #229ef1;
  padding: 16px 32px;
  width: 100%;
  

}

#Title{
  color: rgb(255, 255, 255);
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.Footer{
  position: relative;
  top: 72vh;
  left: 35lh;
  opacity: 30%;
}


#Create{
  font-family: "McLaren", cursive;
  background-color: #229ef1;
  color:white;
  font-weight: 600;
  height: 40px;
  width: 100px;
  border: 
  box-shadow: ;
}